@charset "utf-8";

.record_box{
    margin: 5rem 0;
}
table{
    width: 90%;
    margin: auto;
}

th, td{
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border: double 0.4rem;
}

.btn_clear{
    position: fixed;
    right: 0%;
    bottom: 0%;
    cursor: pointer;
}
